.list {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 4px;
    width: 250px;
    margin-bottom: auto;
}
.list-item {
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 4px;
}
.list-item:hover {
    background-color: #e7e7e7;
}
.list-item.active {
    background-color: #e7e7e7;
    border-radius: 8px;
}
.list-item:last-child {
    margin-bottom: 0;
}
.applies {
    width: calc(100% - 270px);
}