body {
    margin: 0;
}

body, div, input, a, li, ul, ol, textarea, span, p, h1, h2, h3, aside, main {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1250px;
    width: 100%;
    padding: 20px 20px;
    display: block;
    margin: 0 auto;
}

.flex {
    display: flex;    
}

.flex-cl {
    flex-direction: column; 
}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-ai-c {
    align-items: center;
}

.flex-ai-sb {
    align-items: space-between;
}

.block {
    display: block;
}

.none {
    display: none;
}

.p0 {
    padding: 0;
}
.p1 {
    padding: 4px;
}
.p2 {
    padding: 8px;
}
.p3 {
    padding: 12px;
}
.p4 {
    padding: 16px;
}
.ptb7 {
    padding: 40px 0;
}

.m0 {
    margin: 0;
}
.m1 {
    margin: 4px;
}
.m2 {
    margin: 8px;
}
.m3 {
    margin: 12px;
}
.m4 {
    margin: 16px;
}
.mr5 {
    margin-right: 20px;
}
.mt2 {
    margin-top: 8px;
}
.mt7 {
    margin-top: 40px;
}
.mtb2 {
    margin: 8px 0;
}
.mtb4 {
    margin: 16px 0;
}
.mtb5 {
    margin: 20px 0;
}
.mtb7 {
    margin: 40px 0;
}
.ck-powered-by {
    display: none;
}

.gap-2 {
    gap: 8px;
}