.dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 63%;
    z-index: 3;
    background-color: #fff;
}

.dropdown a {
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
}

.dropdown a:last-child {
    border-bottom: none;
}

.dropdown a:hover {
    background-color: #e4e4e4;
}

.dropdown-tags {
    padding: 8px;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.dropdown-tags a {    
    display: inline-block;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.dropdown-tags h4 {
    width: 100%;
}