.header {
    background-color: #222324;
    width: 100%;
    z-index: 10000;    
}

.header-transparent {
    background-color: transparent;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header-inner > div {
    display: flex;
    align-items: center;
}

.header a {
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
}

.header-search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    height: 40px;
    cursor: pointer;
}

.header-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border: 1px solid #fff;
    border-radius: 24px;
    outline: none;
    background-color: transparent;
    color: #fff;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
}

a.header-button--green {    
    border: 1px solid rgba(163, 218, 165, .5);    
    color: #A3DAA5;
}