.radio-group {
    width: 100%;
}

.radio {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
}

.radio input {
    margin: 0;
    width: 16px;
    height: 16px;
}

.radio label {
    margin: 0;
    font-weight: 400;
}

.checkbox {    
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
}

.checkbox input {    
    margin: 0;
    width: 16px;
    height: 16px;
}